/* Reset básico */

/* Establecer todos los márgenes y rellenos en 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y la altura del elemento */
}

/* Restablecer estilos para encabezados, párrafos, listas, etc. */
h1, h2, h3, h4, h5, h6,
p, ul, ol, dl,
blockquote, pre,
fieldset, figure,
hr {
    margin: 0;
    padding: 0;
}

/* Restablecer estilos de listas */
ul, ol {
    list-style: none;
}

/* Restablecer estilos de elementos incrustados */
img, iframe,
embed, object,
video {
    max-width: 100%;
}

/* Restablecer estilos para tablas */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Restablecer estilos para formularios */
button, input, select, textarea {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* Restablecer estilos para elementos de formulario que pueden recibir foco */
button, input, select, textarea {
    background-color: transparent;
    border: none;
    outline: none;
}

/* Restablecer estilos para elementos de formulario que no pueden recibir foco */
button[disabled], input[disabled],
select[disabled], textarea[disabled] {
    cursor: not-allowed;
}

/* Restablecer estilos para botones */
button {
    cursor: pointer;
}

/* Restablecer estilos para texto seleccionado */
::selection {
    background-color: #b3d4fc; /* Cambiar este color según tus preferencias */
    color: #000; /* Cambiar este color según tus preferencias */
}
